.raleway{
    font-family: 'Roboto';
}

.post-image{
    aspect-ratio: 4/5;
}

.profile-image{
    aspect-ratio: 1/1;
    max-width: 1.6rem;
}
.flag-image{
    max-width: 6dvh;
    /* object-fit: contain; */
}
.dropdown-toggle::after{
    display: none !important;
}
.big-profile-images{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 16dvw;
}
.small-profile-images{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 5.6dvw;
}
.flag-image-preview{
    height: 5dvh;
}
.follow-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(4px);
}
.inbox-image{
    max-width: 2.4dvw;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.inbox-profile-image{
    max-width: 1.2dvw;
    aspect-ratio: 1/1;
    object-fit: cover;
}
@media (min-width: 768px) {
  .fs-md-6 {
    font-size: 1rem !important; /* Ukuran fs-6 */
  }
}
@media (max-width:768px){
    .big-profile-images{
        max-width: 40dvw;
    }
    .small-profile-images{
        max-width: 16dvw;
    }
    .inbox-image{
        max-width: 12dvw;
    }
    .inbox-profile-image{
        max-width: 8dvw;
    }
}
/* .post-username{
    position:relative;
    bottom: 4.8dvh;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(4px);
} */