.post-image-single {
    aspect-ratio: 5/4 !important;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.max-50-post {
    max-height: 50dvh;
}

.profile-image-post {
    aspect-ratio: 1/1;
    max-width: 1.6rem;
}

.profile-image-follow {
    aspect-ratio: 1/1;
    max-width: 2.4rem;
}

.profile-image-post-small {
    aspect-ratio: 1/1;
    max-width: 1.2rem;
}

.comment-box-dekstop {
    max-height: 48dvh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.max-blyat {
    min-height: 72dvh;
    max-height: 72dvh;
}
.bio{
    max-width: 256px;
}
#commentFloat{
    left: 50%;
    top: 50%;
    min-width: 40dvw;
    transform: translate(-50%,-50%);
    height: 48dvh;
    min-height: fit-content;
}
#commentFloat #box{   
    height: 38dvh;
    overflow-y: scroll;
    scrollbar-width: none;
}
@media (max-width:768px) {
    #commentFloat{
        min-width: 80dvw;
    }
    #commentFloat .profile-image-post{
        min-width: 8dvw;
    }
    .bio{
        max-width: 128px;
    }
}
